  <footer class="bg-dark-beige">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a href="https://ischool.uw.edu/">
                        <img src="img/logos/iSchoolPrimary_RGB_Black.png" alt="UW iSchool logo" style="height: 2.4em"/>
                    </a>     
                </div>
            </div>
        </div>
    </footer>
