<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Project Overview</h2>
                <h3 class="section-subheading text-muted">Plate of Nations is an annual event that celebrates the culinary diversity of minority ethnic groups in the South Seattle area. The project's aim was to improve the event's online presence by revamping its website design. Our team prioritized usability and accessibility, incorporating a mobile-first approach, and showcasing participating restaurants and their cultural backgrounds. The redesigned website now features detailed event information, a searchable restaurant directory, and a Digital Plate of Nations Passport, enabling attendees to collect stamps and explore the event's diverse cuisine. This proof of concept represents a significant step towards creating a more engaging and accessible Plate of Nations website, benefiting both attendees and local minority-owned businesses.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mobile Usability</h4>
                <p class="text-muted">Easily navigable with mobile responsiveness.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <!-- Change icon -->
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Linguistic Accessibility</h4>
                <p class="text-muted">Information can be understood by screen readers and non-native English speakers.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <!-- Change icon -->

                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cultural Representation</h4>
                <p class="text-muted">Accurately present cuisines and cultures without stereotyping.</p>
            </div>
        </div>
    </div>
</section>