<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row about-row align-items-center">
            <div class="col-md-6 section-text">
                <h3 class="section-subheading text-muted">About</h3>
                <h2 class="section-heading">What is Plate of Nations?</h2>
                <p class="text-muted">Crafted by the MLK Business Association, Plate of Nations is an electrifying event that promotes the eclectic mix of independently-owned restaurants nestled in the vibrant MLK community. This two-week long annual festival is a celebration of culture and diversity as it showcases the mouthwatering delights of immigrant-owned businesses in the Rainier Valley.</p>
            </div>
            <div class="col-md-6">
                <img class="fade-up" src="img/pon-vendors.png" alt="Plate of Nations vendors"/>
            </div>
        </div>   

        <div class="row about-row align-items-center">
            <div class="col-md-6">
                <img class="fade-up" src="img/pon-logo2.png" alt="Plate of Nations logo"/>
            </div>
            <div class="col-md-6 section-text">
                <h3 class="section-subheading text-muted">Mission</h3>
                <h2 class="section-heading">Project Overview</h2>
                <p class="text-muted">Our team embarked on a mission to elevate the online presence of Plate of Nations by breathing new life into its website design, centering around:</p>
                <li class="project-points global">Authentic cultural immersion and representation</li>
                <li class="project-points lang">Accessibility to non-native English speakers</li>
                <li class="project-points mobile">Mobile-first design for optimal user experience</li>
            </div>
        </div>        
        <!-- <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Mobile Usability</h4>
                <p class="text-muted">Easily navigable with mobile responsiveness.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Linguistic Accessibility</h4>
                <p class="text-muted">Information can be understood by screen readers and non-native English speakers.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Cultural Representation</h4>
                <p class="text-muted">Accurately present cuisines and cultures without stereotyping.</p>
            </div>
        </div> -->
    </div>
</section>